.modal-wrapper {
  height: 100%;
  width: 100%;
  background-color: #dfdfdf8f;
  display: flex;
  justify-content: center;
  // align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  .modal {
    margin-top: 5vh;
    position: relative;
    height: 80%;
    max-width: 500px;
  }
  .cancel {
    position: absolute;
    margin: 0;
    cursor: pointer;
    top: 25px;
    right: 10px;
  }
}
